SNOWFLAKE_USERNAME= {CHANGE}
SNOWFLAKE_PASSWORD= {CHANGE}
SNOWFLAKE_ACCOUNT= {CHANGE}
SNOWFLAKE_ROLE= {CHANGE}
SNOWFLAKE_URL= {CHANGE}
SNOWFLAKE_WAREHOUSE= {CHANGE}
SNOWFLAKE_DATABASE= {CHANGE}
SNOWFLAKE_SCHEMA_BRONZE= {CHANGE}
AIRFLOW_UID= {CHANGE}
AIRFLOW_GID= {CHANGE}
POSTGRES_USER= {CHANGE}
POSTGRES_PASSWORD= {CHANGE}
POSTGRES_DB= {CHANGE}